@import "tailwindcss";
@import "locomotive-scroll/dist/locomotive-scroll";

@font-face {
  font-family: "sequalsans-md";
  src: url(/SequelSans-DisplayMedium.BYsR-9NK.ttf);
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #f24425ba;
  color: #ffffff;
}

@theme {
  --font-primary: "sequalsans-md", sans-serif;

  --color-primary: #ffffff;
  --color-secondary: #f24325;
}